- provide(:title, "ユーザー管理")

.row
  .col-md-3
    &nbsp;
  .col-md-6
    = link_to "新規作成", new_user_path, class: "btn btn-primary"

    %table.table.table-hover.top-margin
      %thead
        %tr
          %th.border-top-none id
          %th.border-top-none 名前
          %th.border-top-none 操作
      %tbody
        = render @users