- provide(:title, '生活費と残高')

.row
  .col-sm-8
    %p
  .col-sm-4
    = render 'shared/navi_month'

- unless @monthly_reports.message.empty?
  %div{style: "color: red;"}
    = @monthly_reports.message
- else
  = render 'reports'