%header.navbar.navbar-fixed-top.navbar-inverse.navbar-gray
  .container
    = link_to "account book", root_path, id: "logo"
    %nav
      %ul.nav.navbar-nav.navbar-right.navbar-collapse.collapse
        %li
          = link_to "Home", root_path
        %li
          = link_to "ヘルプ", help_path
